<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pengjunlee.service.mapper.CommentMapper">
    <select id="pageCommentGoods" resultType="com.pengjunlee.domain.CommentGoodsEntity">
        select
        * from tbl_tmall_goods
        <where>
            <if test="title !=null and title != ''">
                AND title LIKE "%"#{title}"%"
            </if>
        </where>
        <choose>
            <when test="sortBy !=null and sortOrder != null">
                ORDER BY ${sortBy} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY id asc
            </otherwise>
        </choose>

        <if test="offset != null and limit != null">
            LIMIT ${offset},${limit}
        </if>

    </select>

    <select id="countCommentGoods" resultType="int">
        select count(*)
        from tbl_tmall_goods
        <where>
            <if test="title !=null and title != ''">
                AND title LIKE "%"#{title}"%"
            </if>
        </where>
    </select>
</mapper>